/* tipo desde google fonts: el @import SIEMPRE va primero en el archivo */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #000000;
}

/*Breakpoints*/
/*Breakpoint mobile: 500px*/
/*Breakpoint tablet 1024px*/
/*Breakpoint XXL 1400px*/


body {
  margin: 0 16px;
  background-color: rgb(142, 182, 155);
  font-family: "Roboto", sans-serif;
}

/*header y footer*/
header { 
  padding: 32px;
  text-align: center;
}


header nav{
  display: grid;
  grid-template-areas: 
  "logo logo logo logo logo logo"
  "left-ul left-ul left-ul right-ul right-ul right-ul";
  grid-template-rows: 50px 30px;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px; 
}

.left-ul {
  grid-area: left-ul;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.right-ul {
  grid-area: right-ul;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*decoracion*/
.puntitos li a {
  list-style: none;
}

section {
  padding: 0 2rem 1rem;
  margin-bottom: 3rem;
}

h1 {
  text-decoration: underline;
  text-align: center;
  color: rgb(211, 199, 173) ;
}

h2 {
  color: rgb(31, 129, 133) ;
  text-decoration: underline;
  margin-bottom: 2rem;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

/*titulo*/
.titulo {
  color: rgb(211, 199, 173);
  text-decoration: underline;
  font-size: 3.5rem;
  text-align: center;
}

/*subtitulo*/
.sub {
  color: rgb(11, 43, 38);
  font-size: 2rem;
  font-weight: 500;
  text-decoration: underline;
}

/*parrafos*/
p {
  text-align: center;
}

.imagenes {
  border: 0.4rem solid rgb(19, 107, 50);
  border-radius: 16px;
}

.producto {
  border: 0.5rem solid  rgb(19, 107, 50);
}

.descripcion {
  text-align: start;
  text-decoration: none;
  border: 0.3rem solid rgb(255, 255, 0);
  border-radius: 16px;
}

.precio {
  text-align: start;
  text-decoration: underline solid rgb(255, 0, 0);
}

.persona {
  border: 0.3rem solid rgb(19, 107, 50) ;
  border-radius: 16px;
}

.nombre {
  text-align: start;
}

/*grillas*/
.grid-reseña{
  border: 1px solid rgb(0, 0, 0);
  height: 700px;

  display: grid;
  /*distintas formas*/
  grid-template-columns: 200px 200px 200px;
  /*grid-template-columns: repeat(2, 200px);*/
  /*grid-template-columns: 1fr 1fr;*/

  grid-template-rows: repeat(3, 300px);
  justify-content: space-evenly; 
  align-content: space-evenly;

  justify-items: center;
  align-items: flex-start;
}
.grid-area{
  border: solid 3px rgb(0, 128, 0) ;
  width: 200px;
  height: 200px;
}

.hijo {
  justify-self: flex-end;
  align-self: flex-end;
}

.grid-inicio{
  border: 1px solid rgb(0, 0, 0);
  height: 900px;

  display: grid;
  grid-template-columns: repeat(2, 200px) ;

  grid-template-rows: repeat(2, 300px);
  justify-content: space-evenly;
  align-content: space-evenly;
}

.grid-index{
  border: 3px solid rgb(255, 0, 0);
  width: 300px;
  height: 200px;
}

.niño-1{
  justify-self: center;
  align-self: flex-start ;
}

.niño-2{
  justify-self: center;
  align-self: flex-end;
}

/*Media Queries*/
@media(min-width: 1024px) {
  body {
    margin: 0 32px;
  }
  header nav {
    grid-template-areas: 
    "left-ul tefl-ul teflt-ul logo right-ul right-ul right-ul right-ul";
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 50px
  }
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
}