body{
    background-color: rgb(250, 235, 215);
}
/*tipo desde google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*font-family: "Roboto", sans-serif;*/

/*titulo*/
.titulo{
    color: rgb(255, 0, 0);
    text-decoration: underline;
    font-size: 3.5rem;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
/*subtitulo*/
.sub{
    color: rgb(0, 0, 255);
    font-size: 2rem;
    font-weight: 500;
    text-decoration: underline;
}
/*titulos*/
h1{
    font-family: "Roboto", sans-serif;
    text-decoration: underline;
    text-align: center;
}
h2{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
/*parrafos*/
p{
    text-align: center;
}
/*decoracion*/
.puntitos li a{
    text-decoration: none;
}
.puntitos li{
    list-style: none;
}